# Survey Basic Analysis

### Necessary Libraries

In [1]:
import pandas as pd
from utils.basic import rename_values
from utils.dataframe import DataframeUtils
from utils.plot import PlotUtils
from utils.bootstrapping import BootstrappingUtils

### Dataframe Init

In [2]:
dataframe_obj = DataframeUtils('./data/main_data.csv', ';', './data/unused_columns.txt', './data/formatted_columns.txt')
# the index is not important, but when we internally format df we need to reset index
dataframe_obj.df = dataframe_obj.df.reset_index(drop=True)

### Analysis

In [3]:
dataframe_obj.df.columns

Index(['ID', 'Status', 'Duration', 'D1_Undergraduation', 'D1_Specialization',
       'D1_Master', 'D1_Phd', 'D1_Courses', 'D1_Others', 'D2_Country',
       ...
       'Q15_Model_Deploy_Production_Monitoring',
       'Q16_Model_Monitor_Aspects_Input_And_Output',
       'Q16_Model_Monitor_Aspects_Interpretability_Output',
       'Q16_Model_Monitor_Aspects_Output_And_Decisions',
       'Q16_Model_Monitor_Aspects_Fairness',
       'Q16_Model_Monitor_Aspects_Others',
       'Q16_Model_Monitor_Aspects_Others_Free',
       'Q17_Automated_Machine_Learning_Tools_Yes_No',
       'Q17_Automated_Machine_Learning_Tools_Yes_Free', 'Origin'],
      dtype='object', length=202)

In [4]:
# list(dataframe_obj.df.columns[3:len(dataframe_obj.df.columns) - 1])

In [5]:
# all_columns = []
# for col in dataframe_obj.df.columns[3:len(dataframe_obj.df.columns) - 1]:
#     if 'Free' not in col:
#         all_columns.append(col)

# total = 0
# # for each respondent
# for idx, row in dataframe_obj.df.iterrows():
#     nan_values = []
#     # we check how was his performance along the questions
#     for column in all_columns:
#         if str(row[column]) == '-99' or str(row[column]) == 'nan' or str(row[column]) == '-66' or str(row[column]) == '-77':
#             nan_values.append(True)
#         else:
#             nan_values.append(False)

#     # compute the answersa which were not nan
#     total_valid_answers = 0
#     for nv in nan_values:
#         if not nv:
#             total_valid_answers += 1

#     # consider only people who answered at leat 95% of all columns
#     if total_valid_answers > len(all_columns) * 0.95:
#         total += 1
# print(total)

In [6]:
# all_answers = len(dataframe_obj.df['D2_Country'])

In [7]:
# all_answers - total

In [8]:
# len(all_columns)

In [9]:
# len(all_columns) * 0.95

In [11]:
# all_columns = []
# for col in dataframe_obj.df.columns[3:len(dataframe_obj.df.columns) - 1]:
#     all_columns.append(col)

# total_answer_least_one = 0
# # for each respondent
# for idx, row in dataframe_obj.df.iterrows():
#     # we check if this participant has at least one question answered
#     for column in all_columns:
#         if str(row[column]) != '-99' and str(row[column]) != 'nan' and str(row[column]) != '-66' and str(row[column]) != '-77':
#             total_answer_least_one += 1
#             break

# print(total_answer_least_one)

In [13]:
dataframe_obj.df['Duration'].value_counts()

Duration
0       61
-1      31
902      2
893      2
1026     2
        ..
1232     1
2734     1
2284     1
3674     1
35       1
Name: count, Length: 182, dtype: int64

In [14]:
dataframe_obj.df['Status'].value_counts().index

Index(['Completed (31)', 'Suspended (22)', 'Completed after break (32)'], dtype='object', name='Status')

In [15]:
dataframe_obj.df.drop(dataframe_obj.df[dataframe_obj.df['Status'] == 'Suspended (22)'].index, inplace = True)

In [17]:
dataframe_obj.df

,ID,Status,Duration,D1_Undergraduation,D1_Specialization,D1_Master,D1_Phd,D1_Courses,D1_Others,D2_Country,...,Q15_Model_Deploy_Production_Monitoring,Q16_Model_Monitor_Aspects_Input_And_Output,Q16_Model_Monitor_Aspects_Interpretability_Output,Q16_Model_Monitor_Aspects_Output_And_Decisions,Q16_Model_Monitor_Aspects_Fairness,Q16_Model_Monitor_Aspects_Others,Q16_Model_Monitor_Aspects_Others_Free,Q17_Automated_Machine_Learning_Tools_Yes_No,Q17_Automated_Machine_Learning_Tools_Yes_Free,Origin
0,31,Completed (31),1317,Economics,-99,M.Sc. in Economics,-99,Data Scientist in Datacamp,-99,Brazil,...,-77,not quoted,not quoted,not quoted,not quoted,not quoted,-99,0,-99,https://ww2.unipark.de/uc/seml/
1,34,Completed (31),854,-99,Management,No,No,No,No,Brazil,...,70,not quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,-99
2,36,Completed (31),1593,Mathematics,Informatics,MSC Computer Science,PhD computer Science,Vários cursos in Coursera,-99,Brazil,...,60,quoted,not quoted,quoted,not quoted,not quoted,-99,"Yes, Please, specify",Own approach,-99
3,57,Completed (31),4238,Computer Science,Data science specialization,-99,-99,-99,-99,Germany,...,100,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99
4,46,Completed (31),2821,Actuarial Science,Post Graduation in Data Science,M Sc in Data Science -ML models,no Ph D,no other certifications,-99,Brazil,...,80,not quoted,quoted,quoted,not quoted,not quoted,-99,No,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,468,Completed after break (32),-1,-99,-99,-99,-99,-99,Electronic engineering CEFET-RJ,Portugal,...,80,quoted,not quoted,not quoted,not quoted,not quoted,-99,No,-99,https://machine-learning-survey.web.app/
184,480,Completed after break (32),-1,Computer Engineering,Data Science Bootcamp / Udacity MLE Nanodegree,-99,-99,-99,I dropped Master twice,Germany,...,0,not quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,https://www.linkedin.com/
185,494,Completed after break (32),-1,Computer Science,-99,-99,-99,-99,-99,Brazil,...,75,quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,https://machine-learning-survey.web.app/
186,496,Completed after break (32),-1,Information Engineering,-99,Information Engineering,-99,-99,-99,Brazil,...,100,quoted,not quoted,quoted,not quoted,not quoted,-99,No,-99,https://machine-learning-survey.web.app/
187,527,Completed after break (32),-1,Information Systems,MBA EM BIG DATA (DATA SCIENCE),-99,-99,-99,-99,Brazil,...,70,not quoted,not quoted,quoted,quoted,not quoted,-99,No,-99,https://machine-learning-survey.web.app/